html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e6e8f2;
}
.App{
  text-align: center;
}
input{
  width: 15vw;
  height: 5vh;
  padding: 1vh 2vw;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #e6e8f2;
  box-shadow:  9px 9px 18px #d4d5df, 
  -9px -9px 18px #f8fbff;
}

.MuiListItem-container{

  border-radius: 50px;
  background: #e6e8f2;
  box-shadow:  9px 9px 18px #d4d5df, 
             -9px -9px 18px #f8fbff;
  margin: 2vw auto;
  width: 70%;
}

 @media only screen and (max-width: 600px) {
  input{
    width: 200px;
    height: 7vh;
    padding: 1vw 2vw;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
    -9px -9px 18px #f8fbff;
  }
  
  .MuiListItem-container{
  
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
               -9px -9px 18px #f8fbff;
    margin: 2vw auto;
    width: 70%;
  }
  
 }

  @media only screen and (min-width: 600px) {
    input{
      width: 30vw;
      height: 7vh;
      padding: 1vw 2vw;
      font-size: 1rem;
      outline: none;
      border: none;
      border-radius: 50px;
      background: #e6e8f2;
      box-shadow:  9px 9px 18px #d4d5df, 
      -9px -9px 18px #f8fbff;
    }
    
    .MuiListItem-container{
    
      border-radius: 50px;
      background: #e6e8f2;
      box-shadow:  9px 9px 18px #d4d5df, 
                 -9px -9px 18px #f8fbff;
      margin: 2vw auto;
      width: 70%;
    }
  }
 
 @media only screen and (min-width: 768px) {
  input{
    width: 30vw;
    height: 7vh;
    padding: 1vw 2vw;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
    -9px -9px 18px #f8fbff;
  }
  
  .MuiListItem-container{
  
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
               -9px -9px 18px #f8fbff;
    margin: 2vw auto;
    width: 70%;
  }
 }
 
 @media only screen and (min-width: 992px) {
  input{
    width: 300px;
    height: 7vh;
    padding: 10px 20px;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
    -9px -9px 18px #f8fbff;
  }
  
  .MuiListItem-container{
  
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
               -9px -9px 18px #f8fbff;
    margin: 2vw auto;
    width: 70%;
  }
 }
 
 @media only screen and (min-width: 1200px) {
  input{
    width: 300px;
    height: 7vh;
    padding: 10px 20px ;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
    -9px -9px 18px #f8fbff;
  }
  
  .MuiListItem-container{
  
    border-radius: 50px;
    background: #e6e8f2;
    box-shadow:  9px 9px 18px #d4d5df, 
               -9px -9px 18px #f8fbff;
    margin: 2vw auto;
    width: 70%;
  }
 } 