html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e6e8f2;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1{

}


input{
  width: 15vw;
  height: 5vh;
  padding: 1vh 2vw;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #e6e8f2;
  box-shadow:  9px 9px 18px #d4d5df, 
  -9px -9px 18px #f8fbff;
}

.MuiListItem-container{

  border-radius: 50px;
  background: #e6e8f2;
  box-shadow:  9px 9px 18px #d4d5df, 
             -9px -9px 18px #f8fbff;
  margin: 2vw auto;
  width: 70%;
}